In [1]:
import pandas as pd
import numpy as np

In [4]:
path: str = 'eace975b-43eb-4469-8689-5.csv'

# import a csv file from the df folder
df = pd.read_csv(path)

In [7]:

# Display the first few rows of the dataset
df.head()

,_id,Description,Sample Description,Sample No.,Date Sample Collected,Comments,Sample Matrix Code,Sample Matrix,Sample Type (comp./grab),Sample Collected by,...,Chloro-a Phenophytin ratio,BOD5,Suspended Solids,Organic Carbon - Total,Ammonia as N,Nitrate + Nitrite as N,Phosphate as P,Total Nitrogen as N,Total Phosphorus as P,TKN as N (TN-NOX)
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,BOD,SUSPENDED_SOLI,TOC,AMMONIA_N,NOX,ORTHO_P,TN_PERSULPHATE,TP_PERSULPHATE,TKN
1,2,Units,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ratio,mg/L,mg/L,mg/L C,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L
2,3,PQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3,2,0.5,0.005,0.005,0.005,0.01,0.01,0.01
3,4,Method,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CM37,CM02,CM12,CM36,CM22,CM22,CM22,CM23,CM23,CM23
4,5,North Pine Mid-Field Monitoring,MFMP 1 - Surface,1.0,2014-02-20T00:00:00,NaN,NaN,NaN,Grab,Sampler 1,...,1.1,<3,18,13,<0.005,<0.005,0.068,0.43,0.12,0.43

In [10]:
# Display a concise summary of the DataFrame
print("\nDataframe Info:")
df.info()

Dataframe Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         1874 non-null   int64
 1   Description                 1873 non-null   object
 2   Sample Description          1870 non-null   object
 3   Sample No.                  1870 non-null   float64
 4   Date Sample Collected       1870 non-null   object
 5   Comments                    37 non-null     object
 6   Sample Matrix Code          1539 non-null   object
 7   Sample Matrix               1539 non-null   object
 8   Sample Type (comp./grab)    1870 non-null   object
 9   Sample Collected by         1870 non-null   object
 10  Time Sample Collected       1870 non-null   object
 11  Temperature                 1872 non-null   object
 12  Dissolved Oxygen            1874 non-null   object
 13  pH                          1874 non-null   object
 14  E.Cond.                     1874 non-null   object
 15  Secchi Depth                990 non-null    object
 16  Salinity (Field)            1874 non-null   object
 17  E. coli                     1000 non-null   object
 18  Thermotolerant coliforms    1000 non-null   object
 19  Intestinal enterococci      1000 non-null   object
 20  Chlorophyll a               999 non-null    object
 21  Chloro-a Phenophytin ratio  988 non-null    object
 22  BOD5                        1854 non-null   object
 23  Suspended Solids            999 non-null    object
 24  Organic Carbon - Total      1848 non-null   object
 25  Ammonia as N                1874 non-null   object
 26  Nitrate + Nitrite as N      1874 non-null   object
 27  Phosphate as P              1680 non-null   object
 28  Total Nitrogen as N         1874 non-null   object
 29  Total Phosphorus as P       1680 non-null   object
 30  TKN as N (TN-NOX)           1872 non-null   object
dtypes: float64(1), int64(1), object(29)
memory usage: 454.0+ KB

In [11]:
# Check for missing values in each column
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
_id                              0
Description                      1
Sample Description               4
Sample No.                       4
Date Sample Collected            4
Comments                      1837
Sample Matrix Code             335
Sample Matrix                  335
Sample Type (comp./grab)         4
Sample Collected by              4
Time Sample Collected            4
Temperature                      2
Dissolved Oxygen                 0
pH                               0
E.Cond.                          0
Secchi Depth                   884
Salinity (Field)                 0
E. coli                        874
Thermotolerant coliforms       874
Intestinal enterococci         874
Chlorophyll a                  875
Chloro-a Phenophytin ratio     886
BOD5                            20
Suspended Solids               875
Organic Carbon - Total          26
Ammonia as N                     0
Nitrate + Nitrite as N           0
Phosphate as P                 194
Total Nitrogen as N              0
Total Phosphorus as P          194
TKN as N (TN-NOX)                2
dtype: int64

In [12]:
# Generate descriptive statistics
print("\nDescriptive Statistics for numerical features:")
print(df.describe())

Descriptive Statistics for numerical features:
               _id   Sample No.
count  1874.000000  1870.000000
mean    937.500000     8.944385
std     541.121521     4.885211
min       1.000000     1.000000
25%     469.250000     5.000000
50%     937.500000     9.000000
75%    1405.750000    13.000000
max    1874.000000    17.000000

In [13]:
# Check the distribution of categorical df
if df.select_dtypes(include=['object']).empty == False:
    print("\nValue counts for categorical columns:")
    for column in df.select_dtypes(include=['object']).columns:
        print(f"\nValue counts for {column}:")
        print(df[column].value_counts())

Value counts for categorical columns:

Value counts for Description:
Description
North Pine Mid-Field Monitoring    1870
Units                                 1
PQL                                   1
Method                                1
Name: count, dtype: int64

Value counts for Sample Description:
Sample Description
MFMP 1 - Surface         111
MFMP 4 - Surface         111
MFMP 9 - STP Effluent    111
MFMP 1 - 1.5m            111
MFMP 5 - Surface         111
MFMP 4 - 1.5m            111
MFMP 5 - 1.5m            111
MFMP 3 - 1.5m            111
MFMP 3 - Surface         111
MFMP 2 - 1.5m            111
MFMP 2 - Surface         111
MFMP 6 - Surface         110
MFMP 6 - 1.5m            110
MFMP 7 - Surface         110
MFMP 7 - 1.5m            110
MFMP 8 - Surface         110
MFMP 8 - 1.5m             94
MFMP 8 - 1.0m              5
Name: count, dtype: int64

Value counts for Date Sample Collected:
Date Sample Collected
2014-02-20T00:00:00    17
2021-07-15T00:00:00    17
2021-05-26T00:00:00    17
2021-04-15T00:00:00    17
2021-03-17T00:00:00    17
                       ..
2014-12-18T00:00:00    16
2023-01-31T00:00:00    16
2020-06-18T00:00:00    16
2019-01-17T00:00:00    16
2015-06-19T00:00:00    11
Name: count, Length: 111, dtype: int64

Value counts for Comments:
Comments
large amount of debris in water                      17
small amount of scum on surface of water.             8
sample collected at depth of 0.5m due to low tide     1
Sampled 5 days after heavy Rain event. all sites.     1
1.5m Sample and reading taken from bottom, 0.85m      1
Second sample from site 8 was taken at 1m Bottom      1
Dirty effluent                                        1
 Depth was 1 m to bottom                              1
Not deep enough for 1.5m                              1
Could sample to 1.5m so took sample at 1.0m           1
Bottom=1.0m                                           1
Plume from old APM discharge                          1
Sample collected at 1m, depth of water was 1m         1
sample taken from 0.5m                                1
Name: count, dtype: int64

Value counts for Sample Matrix Code:
Sample Matrix Code
SAL    1448
STP      91
Name: count, dtype: int64

Value counts for Sample Matrix:
Sample Matrix
Saline Water    1448
Sewage            90
Effluent           1
Name: count, dtype: int64

Value counts for Sample Type (comp./grab):
Sample Type (comp./grab)
Grab    1870
Name: count, dtype: int64

Value counts for Sample Collected by:
Sample Collected by
Sampler 1     469
Sampler 2     268
Sampler 6     221
Sampler 11    187
Sampler 10    135
Sampler 20     96
Sampler 3      96
Sampler 9      84
Sampler 12     80
Sampler 8      43
Sampler 14     34
Sampler 21     17
Sampler 5      17
Sampler 4      17
Sampler 7      17
Sampler 13     16
Sampler 16     16
Sampler 17     16
Sampler 18     16
Sampler 19     16
Sampler 15      9
Name: count, dtype: int64

Value counts for Time Sample Collected:
Time Sample Collected
09:20:00    32
10:05:00    29
09:10:00    29
10:00:00    28
09:40:00    28
            ..
13:08:00     1
07:34:00     1
11:57:00     1
11:09:00     1
14:29:00     1
Name: count, Length: 333, dtype: int64

Value counts for Temperature:
Temperature
24.4           31
25.6           30
28.1           28
19.1           28
17.7           26
               ..
31.1            1
15.8            1
15.5            1
14.6            1
TEMPERATURE     1
Name: count, Length: 168, dtype: int64

Value counts for Dissolved Oxygen:
Dissolved Oxygen
5.8     71
5.9     69
5.7     58
5.5     58
5.2     58
        ..
10.8     1
mg/L     1
FM02     1
0.1      1
10.9     1
Name: count, Length: 89, dtype: int64

Value counts for pH:
pH
7.6         339
7.5         335
7.4         301
7.7         259
7.3         197
7.8         158
7.2         101
7.9          49
7.1          48
7            36
6.8          16
6.9          15
6.4           3
8             3
6.7           2
8.1           2
6.5           2
pH Units      1
FM03          1
6             1
5.9           1
6.1           1
6.2           1
2             1
PH            1
Name: count, dtype: int64

Value counts for E.Cond.:
E.Cond.
43400    17
44900    16
43900    15
40800    15
45200    14
         ..
25600     1
24500     1
21200     1
17500     1
760       1
Name: count, Length: 562, dtype: int64

Value counts for Secchi Depth:
Secchi Depth
1         110
0.9       100
1.3        88
1.2        85
1.1        84
0.8        83
1.5        65
1.4        55
1.6        42
0          41
0.7        31
0.4        24
1.7        21
2          20
0.6        18
NT         17
0.95       11
0.85       11
[NT]        8
1.8         8
0.5         8
0.65        8
1.9         7
Nt          7
0.75        6
1.35        4
2.3         4
2.1         4
0.55        4
2.4         2
0.97        2
1.45        1
2.6         1
0.72        1
0.74        1
m           1
0.98        1
1.15        1
3.2         1
1.25        1
FM12 *      1
2.5         1
1.55        1
Name: count, dtype: int64

Value counts for Salinity (Field):
Salinity (Field)
0.4                 70
0.3                 36
28.6                22
28.9                20
27                  18
                    ..
13.8                 1
4.8                  1
ppt                  1
35.3                 1
Salinity (Field)     1
Name: count, Length: 334, dtype: int64

Value counts for E. coli:
E. coli
5 EST     69
2 EST     50
8 EST     49
4 EST     48
14        42
          ..
43         1
47         1
430        1
80 EST     1
86         1
Name: count, Length: 144, dtype: int64

Value counts for Thermotolerant coliforms:
Thermotolerant coliforms
5 EST    37
7 EST    27
6 EST    27
14       27
4 EST    26
         ..
9300      1
13000     1
9600      1
7200      1
830       1
Name: count, Length: 177, dtype: int64

Value counts for Intestinal enterococci:
Intestinal enterococci
<1        124
5 EST     100
2 EST      86
1 EST      81
3 EST      77
         ...
53          1
74          1
63          1
170         1
12 EST      1
Name: count, Length: 124, dtype: int64

Value counts for Chlorophyll a:
Chlorophyll a
<1      83
2.7     77
2.1     60
1.1     50
3.2     49
        ..
23       1
ug/L     1
42       1
CM37     1
2.3      1
Name: count, Length: 72, dtype: int64

Value counts for Chloro-a Phenophytin ratio:
Chloro-a Phenophytin ratio
1.1      398
1        371
1.2      137
1.3       23
1.6       11
1.5        7
1.4        6
1.7        4
2          3
0.8        2
1.48       2
1.73       2
1.9        2
1.78       1
1.95       1
1.8        1
1.88       1
1.76       1
1.63       1
1.68       1
1.77       1
ratio      1
1.66       1
1.59       1
1.71       1
CM37       1
1.38       1
0.9        1
0.7        1
6.4        1
7.8        1
3.7        1
-2.4       1
Name: count, dtype: int64

Value counts for BOD5:
BOD5
<3      1732
3         89
4         19
5          6
6          4
BOD        1
mg/L       1
CM02       1
7          1
Name: count, dtype: int64

Value counts for Suspended Solids:
Suspended Solids
<2      78
2       52
3       49
6       46
7       44
        ..
53       1
59       1
mg/L     1
CM12     1
49       1
Name: count, Length: 63, dtype: int64

Value counts for Organic Carbon - Total:
Organic Carbon - Total
6       145
3       119
8       109
7        98
4        86
       ...
1.9       1
33        1
14.5      1
14.2      1
14.3      1
Name: count, Length: 155, dtype: int64

Value counts for Ammonia as N:
Ammonia as N
<0.005    409
0.005     108
0.006      60
0.007      56
0.12       48
         ...
0.31        1
mg/L        1
0.087       1
CM22        1
6.39        1
Name: count, Length: 127, dtype: int64

Value counts for Nitrate + Nitrite as N:
Nitrate + Nitrite as N
<0.005    592
0.11       37
0.12       29
0.013      21
0.049      20
         ...
0.54        1
0.74        1
mg/L        1
CM22        1
0.62        1
Name: count, Length: 135, dtype: int64

Value counts for Phosphate as P:
Phosphate as P
0.037    34
0.053    34
0.036    33
0.039    33
0.055    33
         ..
0.56      1
0.27      1
0.34      1
0.17      1
0.42      1
Name: count, Length: 164, dtype: int64

Value counts for Total Nitrogen as N:
Total Nitrogen as N
0.42    99
0.44    88
0.41    78
0.43    75
0.46    74
        ..
0.8      1
2.04     1
1.36     1
1.81     1
1.19     1
Name: count, Length: 128, dtype: int64

Value counts for Total Phosphorus as P:
Total Phosphorus as P
0.07    225
0.08    221
0.09    175
0.06    165
0.1     157
       ...
0.26      1
0.6       1
0.76      1
0.37      1
0.52      1
Name: count, Length: 91, dtype: int64

Value counts for TKN as N (TN-NOX):
TKN as N (TN-NOX)
0.39    108
0.42     93
0.4      90
0.38     85
0.44     84
       ...
1.12      1
1.62      1
1.16      1
1.04      1
TKN       1
Name: count, Length: 116, dtype: int64

## Remove All Null  Values
Within